@import 'mixins';

.main {
	.box{
		background: black;
		width: 342px;
		height: 270px;
		padding: 16px;
		padding-bottom: 32px;
		margin: 24px;
	}
}

// @media (max-width:768px) {
// 	.main {
// 		.box {flex: 0 0 33%;
// 			max-width: 33%;
// 			.link {}
// 		}
// 		.heading {}
// 	}
// }

// @media (max-width:480px) {
// 	.main {
// 		.box {flex: 0 0 50%;
// 			max-width: 50%;
// 			.link {}
// 		}
// 		.heading {}
// 	}
// }