@import 'mixins';

.main {
	.box {
		/* background-color: lightgreen; */
		@include flexbox(null, null, space-evenly, null, null);
		width: 100%;
		height: auto;
		min-height: 100px;
		padding-top: 20px;
		.link {
			@include text-style(null, null, 600);
			text-decoration: none;
			color: black;
			font-family: madera ,sans-serif;
		}
	}
	.heading {
		@include text-style(90px, null, null);
		text-align: center;
		padding-top: 40px;
		padding-bottom: 30px;
	}
	
}
@media (max-width: $screen-sm) {
	.main {
		.box {
		
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			
			// margin: unset;
		}
	}
}

// @media (max-width:768px) {
// 	.main {
// 		.box {flex: 0 0 33%;
// 			max-width: 33%;
// 			.link {}
// 		}
// 		.heading {}
// 	}
// }

// @media (max-width:480px) {
// 	.main {
// 		.box {flex: 0 0 50%;
// 			max-width: 50%;
// 			.link {}
// 		}
// 		.heading {}
// 	}
// }