.main {
	.box {
		/* background-color: lightgreen; */
		width: 100%;
		height: auto;
		min-height: 100px;
		display: flex;
		justify-content: space-evenly;
		padding-top: 20px;
		
		.link {
			text-decoration: none;
			color: black;
			font-weight: 600;
		}
	}
	.heading {
		text-align: center;
		padding-top: 40px;
		font-size: 90px;
		padding-bottom: 30px;
	}
	
}