@import 'mixins';

.main {
	font-family: 'Manrope';
	.main_image {
		width: calc(100% - 48px);
		height: auto;
		margin: 0 24px;
	}
	.title {
		// display: flex;
		// width: 159.26px;
		height: 20px;
		// flex-direction: column;
		// justify-content: center;
		// flex-shrink: 0;
	}
	.text {
		color: #222;
		// font-family: ;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 123.077% */
		// padding: 24px;
		// margin: 24px;
	}
	.sizes {
		// font-size: .8125rem;
		// border: 1px;
		display: flex;
		flex-wrap: wrap;
		padding: 0 24px;
		.size{
			border: 1px solid $b82;
			height: 40px;
			// width: 100%;
			font-size: .8125rem;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 8px 4px;
			flex: 0 0 calc(25% - 8px);
			max-width: calc(25% - 8px);
		}
	}
	.notify {
		background: #222;
		width: calc(100% - 48px);
		height: 48px;
		margin: 16px auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.txt {
			color: #FFF;
			text-align: center;
			// font-family: MS PGothic;
			font-size: 16px;
			font-weight: 400;
			// line-height: 20px; /* 125% */
			margin-left: 10px;
		}
	}
}

